.container.vh-100
  .row.vh-100.align-items-center
    .col-md-4.mx-auto.mb-5
      %h2 Resend confirmation instructions
      = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
        = f.error_notification
        = f.full_error :confirmation_token
        = f.input :email, required: true, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: t("devise.attributes.user.email")
        = f.button :submit, "Resend confirmation instructions"
      = render "devise/shared/links"
