.container.vh-100
  .row.vh-100.align-items-center
    .col-md-4.mx-auto.mb-5
      %h2 Change your password
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = f.error_notification
        = f.input :reset_password_token, as: :hidden
        = f.full_error :reset_password_token
        = f.input :password, required: true, autofocus: true, hint: ("#{@minimum_password_length} minimum" if @minimum_password_length), , placeholder: t("devise.attributes.user.password")
        = f.input :password_confirmation, required: true, placeholder: t("devise.attributes.user.password_confirmation")
        = f.button :submit, "Change my password"
      = render "devise/shared/links"
