.container.vh-100
  .row.vh-100.align-items-center
    .col-md-4.mx-auto.mb-5
      %h2 Log in
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.input :email, autofocus: true, placeholder: t("devise.attributes.user.email")
        = f.input :password, placeholder: t("devise.attributes.user.password")
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
        = f.button :submit, t("devise.sessions.new")
      = render "devise/shared/links"
